h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.margin {
    margin: 30px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img2 {
    width: 80%;
    height: 80%;
    object-fit: contain;
    background-image: url("img/haikei1.jpg");
}
main {
    text-align: center;
}
.youso {
    height: 400px;
    width: 400px;
    margin: 50px;
}
a {
    text-decoration: none;
    color: brown;
}
.carousel-inner{
    background-image: url(img/haikei2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.test1{
    position: absolute;
    top:30%;
    left:80%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size: 50px;
    color: white;
}
.test2{
    position: absolute;
    top:50%;
    left:80%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size: 50px;
    color: white;
}
.test3{
    position: absolute;
    top:70%;
    left:80%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size: 50px;
    color: white;
}